.reveal {
  animation: password-reveal 450ms ease-in-out;
}

.hide {
  animation: password-hide 450ms ease-in-out;
}

@keyframes password-reveal {
  from {
    filter: blur(3px);
  }

  to {
    filter: blur(0);
  }
}

@keyframes password-hide {
  from {
    filter: blur(3px);
  }

  to {
    filter: blur(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .reveal,
  .hide {
    animation: none;
  }
}
